@page "/teacher/quiz"
@rendermode InteractiveServer

@inject YourApp.Data.AppDbContext _context
@inject YourApp.Services.sessionService Session
@inject NavigationManager NavManager

<h3>Create Quiz</h3>

<input @bind="title" placeholder="Quiz Title" />

<br /><br />
<h3>Select Subject</h3>

<select @bind="subjectID">
    @foreach (var s in _context.Subjects.ToList())
    {
        <option value="@s.SubjectID">@s.SubjectName</option>
    }
</select>
<br /><br />

<label>Start Time:</label>
<input type="datetime-local" @bind="startTime" />

<br /><br />

<label>Duration (minutes):</label>
<input type="number" @bind="duration" />

<br /><br />
<label>Remarks:</label>
<input type="text" @bind="remarks" />

<br /><br />


<label>
    <input type="checkbox" @bind="randomizeQuestions" />
    Randomize Questions
</label>

<br />

<label>
    <input type="checkbox" @bind="shuffleOptions" />
    Shuffle Options
</label>

<hr />

<button @onclick="CreateQuiz">Create Quiz</button>

<h4>Available Quizzes</h4>

@foreach (var q in listQuizes)
{
    <div>
        @q.Title
    </div>
}

<br />


<p style="color:green">@message</p>

@code {
    List<Quiz> listQuizes = new();

    DateTime startTime = DateTime.Now;
    string title = "";
    int duration = 10;
    bool randomizeQuestions = false;
    bool shuffleOptions = false;
    string message = "";
    string remarks = "";
    int subjectID = 1;

    protected override void OnInitialized()
    {
        if (!Session.isLoggedIn || Session.CurrentUser.Role != "Teacher")
        {
            NavManager.NavigateTo("/login");
            return;
        }

        listQuizes = _context.Quizzes.ToList();
        StateHasChanged();
    }
    void CreateQuiz()
    {
        try
        {
            var quiz = new Quiz
            {
                Title = title,
                SubjectID = subjectID,
                CreatedBy = Session.CurrentUser.UserID,
                Duration = duration,
                StartTime = startTime,
                RandomizeQuestions = randomizeQuestions,
                ShuffleOptions = shuffleOptions,
                remarks = remarks
            };

            _context.Quizzes.Add(quiz);
            _context.SaveChanges();

            _context.SaveChanges();

            message = "Quiz created successfully!";

            // reset
            title = "";
            startTime = DateTime.Now;
            duration = 10;
            randomizeQuestions = false;
            shuffleOptions = false;
            remarks = "";

            // refresh list
            listQuizes = _context.Quizzes.ToList();
        }
        catch (Exception ex)
        {
            message = "Error: " + ex.Message;
        }
    }
}