@inject YourApp.Services.sessionService session
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<nav style="background-color:#333; padding:10px; color:white; display:flex; justify-content:space-around;">
    <button style="margin-right: 10px ;" @onclick="Logout">Logout</button>
</nav>

@code{
    void Logout(){
        session.CurrentUser = null;
        navigationManager.NavigateTo("/login");
    }
}